#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search-bar{
  outline: none;
  border: none;
  padding: 0.5rem;
  min-width: 20rem;
  border-radius: 5px;
  background-color: rgb(224, 223, 223);
}

hr{
  background-color: blue;
}